@{
    ViewData["Title"] = "Home Page";
}

<h2>Home Page</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>Your name: @User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Sign out" />
    </form>
}
else
{
   
    <p />
    <a asp-controller="Account" asp-action="Login">Sign in</a>
    <p/>
    <p />
    <a asp-controller="Account" asp-action="Register">Registration</a>
    <p />
}